.page {
  height: 100%;
  font-size: 62.5%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  overflow-wrap: break-word;

  @include typography(400, 1.4rem, 1.7);
  color: $signalblack;
  background-color: $white;
}
